[submodule "pcb/libs/keebio-components"]
	path = pcb/libs/keebio-components
	url = git@github.com:keebio/keebio-components.git
[submodule "pcb/libs/Keebio-Parts.pretty"]
	path = pcb/libs/Keebio-Parts.pretty
	url = git@github.com:keebio/Keebio-Parts.pretty.git
[submodule "pcb/libs/keyboard_parts.pretty"]
	path = pcb/libs/keyboard_parts.pretty
	url = https://github.com/colemarkham/keyboard_parts.pretty
